# Ignore files in the current directory, so that I can run the test commands straight from the root of this repository

## powerhub
powerhub/modules/
powerhub/ssl/
powerhub/static/
powerhub/workspace/

## smbcrawler
hosts.txt
output.crwl

## mangabudy-scraper
info.json
[0-9]*.jpg

## mingw
mingw/*.exe
mingw/*.dll

## macOS
.DS_Store
